.grid-container { 
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template: 
        "header"
        "main"
        "footer";
}

.slider-container {
    grid-area: header;
}
main#main {
    grid-area: main; justify-self: center; /* overflow: hidden; */
    display: flex; flex-direction: column; align-items: center;
    max-width: 768px;
    position: relative; top: -4em; background: transparent; /* so that the slider transition animation isn't covered*/
}
footer#footer {
    grid-area: footer;
}

.not-visible {
    display: none;
}