.grid-container { 
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template: 
        "header"
        "main"
        "footer";
}

.slider-container {
    grid-area: header;
}
main#main {
    grid-area: main; justify-self: center; overflow: hidden;
    display: flex; flex-direction: column; align-items: center;
    max-width: 768px;
}
footer#footer {
    grid-area: footer; justify-self: center;
    display: flex; align-items: center; flex-direction: column; /* this thing fixed the viewport issue, where the body was wider than viewport */
}

.not-visible {
    display: none;
}