main.page {
    display: none; /*changed to block by js after DOM loads */
}

section#main {
    margin: 4em auto 0; padding: 2em;
    display: flex; flex-flow: column wrap; align-items: center;
    width: 98%; max-width: 1080px;
    position: relative; top: -4em; 
    background: transparent; /* so that the slider transition animation isn't covered*/
}

footer#footer {
    position: relative;
    width: 100vw;
}