@font-face {
    font-family: 'Azedo Bold';
    src: url('../fonts/Azedo/Azedo-Bold.otf');
}
@font-face {
    font-family: 'Azedo Light';
    src: url('../fonts/Azedo/Azedo-Light.otf');
}
@font-face {
    font-family: 'Roboto mono';
    src: url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,700');
}
@font-face {
    font-family: 'Venge regular';
    src: url('../fonts/elements-venge-typeface-MGD449-2017-06-16/Venge\ Regular.otf'),
        url('../fonts/elements-venge-typeface-MGD449-2017-06-16/Webfonts/Venge\ Regular.woff');
}
@font-face {
    font-family: 'Venge double';
    src: url('../fonts/elements-venge-typeface-MGD449-2017-06-16/Venge\ Bold.otf'),
        url('../fonts/elements-venge-typeface-MGD449-2017-06-16/Webfonts/Venge\ Bold.woff');
}
@font-face {
    font-family: 'Cormier double';
    src: url('../fonts/elements-cormier-8MWZQ5-2017-04-16/Webfonts/Cormier\ Double.woff');
}
@font-face {
    font-family: 'Helvetica m';
    src: url('../fonts/helveticaneue/HelveticaNeue\ Medium.ttf');
}
@font-face {
    font-family: 'Helvetica thin';
    src: url('../fonts/helveticaneue/HelveticaNeue\ Thin.ttf');
}

/*************************************************************/

:root {
    --bg: #fafafa; /* #efefef | #ececec */
    --bg-preloader: radial-gradient(#1E0731, #000);
    --bg-footer: #242528;
    
    --font-family-for-heading: 'azedo light', serif;
    --font-family-for-menu: 'roboto mono', serif;
    --font-family-for-para: 'helvetica thin', serif;
    --font-family-for-slider: 'azedo bold', serif;

    --font-color-footer: #5e5e5f;
    --font-color-heading: goldenrod;
    --font-color-para: #242528;

    --font-size-para: 1.1em;

    --letter-spacing-for-heading: 5pt;
    --letter-spacing-for-para: 1pt;
}

/************************************************************/

body {
    background: var(--bg-preloader);
}

section#main {
    background: transparent;
}

footer#footer {
    background-color: var(--bg-footer);  
    color: var(--font-color-footer);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-for-heading);
    color: var(--font-color-heading);
    letter-spacing: var(--letter-spacing-for-heading);
}

p {
    font: small-caps var(--font-size-para)/150% var(--font-family-for-para);
    color: var(--font-color-para);
    letter-spacing: var(--letter-spacing-for-para);

    text-align: justify;
    text-justify: inter-word;
}

/* Projects page */
.slide__text-heading {
    font-family: 'Cormier double', 'azedo bold', serif ;
    color: #fafafa;
}
.project-text {
    font-family: 'Cormier double';
}

/* main slider */

.example-slider .fnc-slide__heading,
.example-slider .fnc-slide__action-btn,
.example-slider .fnc-nav__control {
font-family: 'Cormier double', 'azedo bold', serif;
}
/* end of main slider */

.el__text {
    font: small-caps var(--font-size-para)/150% var(--font-family-for-para);
}
.el__heading {
    font: small-caps var(--font-family-for-heading);
}

/* border for blockquote */
blockquote {
    border-left: 3px solid goldenrod;
}

blockquote#motto {
    border-left: none;
}