@keyframes slidy {
    0% { left: 0%; } 
    7% { left: 0%; } 
    10% { left: -100%;}
    17% { left: -100%;}
    20% { left: -200%;}
    27% { left: -200%;}
    30% { left: -300%;}
    37% { left: -300%;}
    40% { left: -400%;}
    47% { left: -400%;}
    50% { left: -500%;}
    57% { left: -500%;}
    60% { left: -600%;}
    67% { left: -600%;}
    70% { left: -700%;}
    77% { left: -700%;}
    80% { left: -800%;}
    87% { left: -800%;}
    90% { left: -900%;}
    99% { left: -900%;}
    100% { left: -1000%;}
}

#services-slider {
    overflow: hidden;
    max-width: 360px;
    margin: 0 auto;
}
figure.services-slides {
    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite; 
}
.services-slides img {
    width: 10%;
    float: left;
}

/******************************************************************************************/

@media screen and (min-width: 768px) {
    #services-slider {
        grid-area: 3 / 3 / 7 / 4;
    }
}