main.page {
    display: none; /*changed to block by js after DOM loads */
}
section.flexbox {
    display: flex; flex-direction: column; align-items: center;
    max-width: 1920px;
    margin: 0 0 0;
}

