.about-header {
    background-image: url('../../about--img/about-header.jpg');
    position: relative;
    height: 50vh; width: 100%;
}

.about-header div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;  
    margin: 0 0 1em;
    padding: 2em 5em;
}

.about-header hr {
    width: 80px;
    height: 1px;
    background: #111111;
    border-top: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    clear: both;
}
   /* .about-header h1::after {
        content: '';
        position: absolute;
        margin: 1em 0;
        height: 2px;
        background-color: #fff;
        width: 100%; 
        top: 100%;
        left: 0;
    }
*/

h1 {
    text-align: center;
}