.services-wrapper {
    font-weight: 300;
    font-family: segoe ui, helvetica neue, helvetica, arial, sans-serif;
    width: 300px;
    height: 25px;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    /*overflow-x: hidden;*/
}
 
p.services-overture {
    float: left;
    font-size: 120%;
    line-height: 25px;
    display: block;
    margin: 0 9px 0 0;
    color: #999;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}
 
span.services-roll {
    display: block;
    line-height: 25px;
    font-size: 120%;
}
 
.services-scroll {
    overflow-y: hidden;
    height: 25px;
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}